@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Skjatextar.is</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <input type ="submit" value ="Beidnir"/>
    </div>
    <div class="col-md-4">
        <input type ="submit" value ="Textar" />
    </div>
    <div class="col-md-4">
        
    </div>
</div>